<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local" value="D:\feeds\LocalNuGet" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="buildxl-external" value="https://pkgs.dev.azure.com/mseng/PipelineTools/_packaging/BuildXL.External/nuget/v3/index.json" />
    <add key="msbuildcache" value="https://pkgs.dev.azure.com/msbuildcache/public/_packaging/msbuildcache/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local">
      <package pattern="Microsoft.BuildXL.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="msbuildcache">
      <package pattern="Microsoft.VisualStudioEng.*" />
      <package pattern="RocksDb*" />
    </packageSource>
    <packageSource key="buildxl-external">
      <package pattern="Microsoft.BuildXL.Interop.Runtime.osx-x64" />
    </packageSource>
  </packageSourceMapping>
</configuration>
